* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #E5E5E5;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

section {
  padding-block: 3rem;
}
section h1 {
  font-size: 66px;
}
section h2 {
  font-size: 43px;
}
section h3 {
  font-size: 33px;
}
section h4 {
  font-size: 22px;
}
section h5 {
  font-size: 13px;
}
section p {
  font-size: 1rem;
}
section li {
  font-size: 1.5rem;
}

.container {
  width: 1200px;
  margin-inline: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portion {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 1200px) {
  .container {
    width: 880px;
  }
  section#meaningful .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 900px) {
  .container {
    width: 530px;
  }
  header#header div.container.flex .main-link,
header#header div.container.flex .cart {
    display: none;
  }
  header#header aside.sider {
    display: block;
  }
  section#inspire .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#products .container .apple {
    width: 45%;
  }
}
@media (max-width: 550px) {
  .container {
    width: 100%;
    padding-inline: 1rem;
  }
  header#header div.container.flex .main-link,
header#header div.container.flex .cart {
    display: none;
  }
  header#header aside.sider {
    display: block;
  }
  section#showcase {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section#products .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
header#header {
  padding-block: 2rem;
  text-transform: uppercase;
}
header#header .container.flex > ul {
  gap: 1rem;
}
header#header aside.sider {
  display: none;
}
header#header aside.sider .side-links {
  min-width: 200px;
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
header#header aside.sider .side-links label {
  display: block;
  text-align: right;
}
header#header aside.sider input:checked + .side-links {
  -webkit-box-shadow: 10px 10px 20px #9AA8B1;
          box-shadow: 10px 10px 20px #9AA8B1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

section#showcase {
  min-height: 90vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../../../images/showcase.png) center top/cover no-repeat fixed;
  gap: 2rem;
}

section#inspire {
  padding-block: 3rem;
}
section#inspire .top-inspire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
}
section#inspire .top-inspire p {
  color: #9AA8B1;
}
section#inspire .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
section#inspire .container .desktops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#products {
  color: #9AA8B1;
}
section#products h3 {
  color: #000;
}
section#products .products-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
section#products .container {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
section#products .container .apple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

section#home-office {
  color: #fff;
  height: 500px;
  background: url(../../../images/mack-manoblock.png) center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

section#hard-way {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
section#hard-way p {
  color: #9AA8B1;
  width: 700px;
  text-align: center;
}

section#meaningful .info-meaningful {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
section#meaningful .info-meaningful p {
  color: #9AA8B1;
  width: 800px;
  text-align: center;
}
section#meaningful .container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

section#joinsus {
  padding-block: 5rem;
  padding-inline: 3rem;
}
section#joinsus .joinus-1, section#joinsus .joinus-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}
section#joinsus .joinus-2 {
  background-color: #9AA8B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 8rem;
  padding-inline: 5rem;
  margin-top: 5rem;
}

footer#footer {
  position: relative;
  background-color: #F9F9F9;
}
footer#footer .container {
  padding-top: 3rem;
}
footer#footer .container .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer#footer .container .top ul {
  gap: 1rem;
}
footer#footer .container .top form {
  margin-left: 3rem;
  gap: 2rem;
}
footer#footer .container .top form .footer-p {
  width: 350px;
}
footer#footer .container .top form input {
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
}
footer#footer .container .top form span {
  background-color: #000;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  display: inline-block;
  width: 80px;
  position: absolute;
  top: 0;
  right: 50px;
  scroll-behavior: smooth;
}
footer#footer .container .bottom ul {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 3rem;
}/*# sourceMappingURL=main.css.map */