section#home-office {
	// background-color: red;
	color: $white;
	height: 500px;
	background: url(../../../images/mack-manoblock.png) center / cover no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}