section#showcase {
	min-height: 90vh;
	color: $white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url(../../../images/showcase.png) center top / cover no-repeat fixed;
	gap: 2rem;
}